:root {
  --CLOUD: #f4f4fd;
  --CORNFLOWER: #e7e9fc;
  --IRIS: #4d5ae5;
  --NAVYBLUE: #2e2f42;
  --SLATE: #434455;
  --WHITE: #ffffff;
  --OCEAN: #404bbf;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.32px;
  color: var(--SLATE);
  background-color: var(--WHITE);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

p {
  margin: 0px;
}

img {
  display: block;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.section {
  padding: 120px 0;
}

.head {
  background: var(--WHITE);
  border-bottom: 1px solid var(--CORNFLOWER);
}

.navigate {
  display: flex;
  align-items: center;
}

.web {
  margin-right: 76px;
  color: var(--IRIS);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.studio {
  color: var(--NAVYBLUE);
}

.list-nav {
  margin-right: 222px;
  display: flex;
  gap: 40px;
}

.list-item-nav {
  padding: 24px 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--NAVYBLUE);
}

.list-item-nav:focus {
  color: var(--OCEAN);
}

.list-item-nav:hover {
  color: var(--OCEAN);
}

.adedres {
  display: flex;
  align-items: center;
  font-style: normal;
}

.addres-list {
  display: flex;
  gap: 40px;
}

.item-addres {
  padding: 24px 0;
}

.addres-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--SLATE);
}

.addres-item:hover {
  color: var(--OCEAN);
}

.addres-item:focus {
  color: var(--OCEAN);
}

.hiro {
  background-color: var(--NAVYBLUE);
  padding: 188px 0;
}

.hiro-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titel {
  max-width: 496px;
  text-align: center;
  color: var(--WHITE);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  margin-bottom: 48px;
}

.button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  background: var(--IRIS, #4d5ae5);
  color: var(--WHITE);
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.button:hover {
  cursor: pointer;
  background-color: var(--OCEAN);
}

.button:focus {
  background-color: var(--OCEAN);
}

.hidden {
  visibility: hidden;
}

.spdt-list {
  display: flex;
  gap: 24px;
}

.spdt-list-item {
  width: calc((100% - 72px) / 4);
}

.spdt-list-item:not(:last-child) {
  margin-right: 24px;
}

.title-list {
  margin-bottom: 8px;
  color: var(--NAVYBLUE);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.title-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.team {
  background-color: var(--CLOUD);
}

.title-team {
  color: var(--NAVYBLUE);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.team-list-item {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  background-color: var(--WHITE);
}

.team-list-item:not(:last-child) {
  margin-right: 24px;
}

.div-team {
  padding: 32px 0;
}

.team-name {
  color: var(--NAVYBLUE);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.profession {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  padding-bottom: 32px;
}

.portfolio {
  color: var(--NAVYBLUE);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  justify-content: center;
}

.portfilio-div {
  padding: 32px 16px;
}

.portfolio-list-item {
  width: calc((100% - 48px) / 3);
  border: 1px solid var(--CORNFLOWER);
  margin-right: 24px;
  margin-bottom: 48px;
}

.portfolio-title {
  color: var(--NAVYBLUE);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.product {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer {
  padding: 100px 0;
  background-color: var(--NAVYBLUE);
}

.footer-link {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-studio {
  color: var(--CLOUD);
}

.info {
  max-width: 264px;
  padding-top: 16px;
  color: var(--CLOUD);
  line-height: 1.5;
  letter-spacing: 0.32px;
}
